/*  blie-green rgb(50, 184, 132) */
body {
	background-color: rgb(130, 195, 47);
	font-size: 16px;
}

.content {
	margin: 10vh 0 0 0;
}

p {
	color: #fff;
	font-size: 1.5em;
	letter-spacing: .05em;
}

/* Transition Effect */
.invisible {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1.2s ease-in;
	-webkit-transition:  opacity 1.2s ease-in;
	-moz-transition: opacity 1.2s ease-in;
	-ms-transition: opacity 1.2s ease-in;
	-o-transition: opacity 1.2s ease-in;
}
.visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 1.2s ease-in;
	-moz-transition: opacity 1.2s ease-in;
	-ms-transition: opacity 1.2s ease-in;
	-o-transition: opacity 1.2s ease-in;
	transition:  opacity 1.2s ease-in;
}
/*-------------------*/
label {
 color: #fff;
 font-size: .8em;
 text-transform: uppercase;
 font-weight: 700;
 letter-spacing: .1em;

}

input {
	color: #fff;
}

input[type=text]:not(.browser-default) {
	border-bottom: 1px solid #fff;
	font-size: 1.5em;
}

input::placeholder {
	color: #fff;
	font-size: 1em;
}

input:active {
	border-bottom: 1px solid rgb(70, 159, 189);
}

#submit {
	-webkit-transition: opacity 1.2s ease-in;
	-moz-transition: opacity 1.2s ease-in;
	-ms-transition: opacity 1.2s ease-in;
	-o-transition: opacity 1.2s ease-in;
	transition:  opacity 1.2s ease-in;
	color: #fff;
	background: rgb(70, 159, 189);
	font-size: .8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1em;
}

#submit:focus,
#submit:active {
	outline: none;
}

@media(max-width: 600px) {
	.content {
		margin: 3vh auto;
	}

	p {
		font-size: 1.1em;
	}
}

@media(min-width: 992px) {
	.userAction {
		height: 400px;
	}

	.results {
		height: 400px;
	}

	div.col.s10.m8.l4.results {
		float: left;
		margin: 0 auto;
	}
}

.userAction {
	visibility: hidden;
}

.userAction .link {
	display: block;
	margin: 25px 25px 0 0;
	background: rgb(70, 159, 189);
	font-size: .8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1em;
}

.userAction p {
	font-style: italic;
	font-size: 1.2em;
	padding: 0 25px 0 0;
}

.powered_by {
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
	text-align: center;
	margin: 8vh auto 0 auto;
	font-size: .8em;
}

.logo_container {
	margin: 0 auto;
}

.logo {
	display: block;
	width: 20%;
	min-width: 100px;
	max-width: 150px;
	height: auto;
	margin: 0 auto;
}

@media(max-width: 992px) {
	div.col.s10.m8.l4.results {
		float: none;
	}

	.userAction .link {
		margin: -30px 0 50px 0;
	}
}

/*Rendered Results, Large Screens */
div.col.s10.m8.l4.results {
	color: white;
	display: block;
	margin: 0 auto;
}

.row .col.s12 {
	margin: 0 auto;
}

#results {
	display: block;
	margin: 0 auto;
	border-left: 1px solid #fff;
}

.results {
	margin: 0 auto;
}

.results h4 {
	display: block;
	width: 84%;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: .8em;
}

.results p {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 1em;
}

.results .text_right {
	text-align: right;
	float: right;
	font-weight: 700;
}

/* Error Handler */
.dialog {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	color: #fff;
}

.dialog_box {
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	min-height: 100px;
	width: 100%;
	background: red;
	text-align: center;
	padding: 30px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
}
